.collaborationContainer {
  padding-left: 40px;
  padding-bottom: 30px;
  width: 100%;
}


.collaboration_iconsContainer {
	display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.collaboration_icon {
	background-size: cover;
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: 15px;
}