.contactContainer {
  padding-left: 40px;
  padding-bottom: 20px;
  width: 100%;
}

.mailContainer {
  height: auto;
  width: 100%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  padding: 1em;
}

.input_name, .input_email {
  width: 100%;
  height: 30px;
}

.input_email {
  margin-top: 20px;
}

.textarea_message {
  margin-top: 20px;
  width: 100%;
  resize: vertical;
}

.buttonSend {
  width: 150px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  user-select: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: #368ffb;
  transition: transform 0.2s ease-in-out;
  font-weight: bold;
}

.buttonSend--disabled, .buttonSend--disabled.buttonSend:hover, .buttonSend--disabled.buttonSend:hover, .buttonSend--disabled.buttonSend:active {
  background-color: rgba(199,199,199, 0.8);
  cursor: not-allowed;
  transform: scale(1);
}

.buttonSend:hover {
  transform: scale(1.05);
}

.buttonSend:active {
  transform: scale(1.1);
}

.buttonSendContainer {
  position: relative;
  width: 100%;
  height: 40px;
}

.contact {
  margin-bottom: 10px;
}

.contact:hover {
  .contact_text, a {
    color: #70b1ff;
  }
}

.contact_icon {
  width: 25px;
  height: 25px;
  background-size: cover;
  display: inline-block;
  vertical-align: bottom;
}

.contactsContainer {
  margin-top: 20px;  
}

.contact_text {
  display: inline-block;
  padding-left: 10px;
}

.error {
  display: none;
  color: red;
}

.success {
  display: none;
  color: #52cf5c;
}

@media screen and (max-width: 800px) {
  .contactContainer {
    padding-left: 20px;
    padding-bottom: 10px;
  }
}