.content_gallery {
	padding-right: 50px;
	box-sizing: border-box;
}

.backToGalleries {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	background-size: cover;
	margin-right: 10px;
    margin-top: 5px;
	.icon_backTo;
	cursor: pointer;
}

.backToGalleries:hover {
	.icon_backTo_active;
}

.galleryImage {
	width: 150px;
	height: 100px;
	background-size: cover;
	margin: 20px;
	cursor: pointer;
	transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.galleryImage--large {
	width: 500px;
	height: 350px;
}