// TITLE
.icon_title {
	background-image: url("../icon/galleries_white.png");
}
.icon_title--hover {
	background-image: url("../icon/galleries_blue.png");
}

// MENU
.icon_galleries {
	background-image: url("../icon/galleries_blue.png");
}
.icon--active.icon_galleries {
	background-image: url("../icon/galleries_white.png");
}

.icon_slideshow {
	background-image: url("../icon/slideshow_blue.png");
}
.icon--active.icon_slideshow {
	background-image: url("../icon/slideshow_white.png");
}

.icon_contact {
	background-image: url("../icon/contact_blue.png");
}
.icon--active.icon_contact {
	background-image: url("../icon/contact_white.png");
}

.icon_collaboration {
	background-image: url("../icon/collaboration_blue.png");
}
.icon--active.icon_collaboration {
	background-image: url("../icon/collaboration_white.png");
}

.icon_aboutMe {
	background-image: url("../icon/aboutMe_blue.png");
}
.icon--active.icon_aboutMe {
	background-image: url("../icon/aboutMe_white.png");
}

// OTHERS
.icon_facebook {
	background-image: url("../icon/facebook_white.png");
}
.icon--active.icon_facebook {
	background-image: url("../icon/facebook_blue.png");
}

.icon_instagram {
	background-image: url("../icon/instagram_white.png"); 
}
.icon--active.icon_instagram {
	background-image: url("../icon/instagram_blue.png"); 
}

.icon_vk {
	background-image: url("../icon/vk_white.png"); 
}
.icon--active.icon_vk {
	background-image: url("../icon/vk_blue.png"); 
}

.icon_phone {
  background-image: url("../icon/phone_white.png");
}
.icon--active.icon_phone {
  background-image: url("../icon/phone_blue.png");
}

.icon_email {
  background-image: url("../icon/email_white.png");  
}
.icon--active.icon_email {
  background-image: url("../icon/email_blue.png");  
}

.icon_backTo {
  background-image: url("../icon/backTo_white.png");  
}
.icon_backTo_active {
  background-image: url("../icon/backTo_blue.png");  
}