.content_slideshow {
	padding: 5px;
	justify-content: center;
}

.slideshowContent {
	padding: 10px;
	width: 33%;
	height: 300px;
	transition: all 0.3s ease-in-out;
	position: relative;
}

@media screen and (max-width: 1230px) {
	.slideshowContent {
		width: 50%;
		height: 250px
	}
}

@media screen and (max-width: 650px) {
	.slideshowContent {
		width: 100%;
	}
}

