.socialsContainer {
	position: fixed;
	top: 30px;
	right: 30px;
}

.social {
	background-size: cover;
	height: 30px;
	width: 30px;
	display: inline-block;
	cursor: pointer;
	margin: 0 2px;
	transition: transform 0.2s ease-in-out;
}

.social:hover{
	transform: scale(1.1);
}