<div id="content_aboutMe" class="content">
  <div class="aboutMeContainer">
    <div class="content_title" data-bind="html: aboutMe_global_title"></div>
    <div class="content_separator"></div>
    <p data-bind="html: contact_global_text"></p>

    <div class="content_title" data-bind="html: aboutMe_facts_title"></div>
    <div class="content_separator"></div>
    <p data-bind="html: aboutMe_facts_text"></p>

    <div class="content_title" data-bind="html: aboutMe_skill_title"></div>
    <div class="content_separator"></div>
    <p data-bind="html: aboutMe_skill_text"></p>
  </div>
</div>