<div id="content_aboutMe" class="content">
  <div class="aboutMeContainer">
    <div class="content_title">HI, MY NAME IS TETIANA KUSHCHYNSKA</div>
    <div class="content_separator"></div>
    <p>Quisque id odio. Fusce a quam. Duis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus.</p>

    <div class="content_title">FACTS ABOUT ME</div>
    <div class="content_separator"></div>
    <p>Quisque id odio. Fusce a quam. Duis leo. Vestibulum ante ipsum primis in faucibus.</p>
    <p>Quisque id odio. Fusce a quam. Duis leo. Vestibulum ante ipsum primis in faucibus.</p>
    <p>Quisque id odio. Fusce a quam. Duis leo. Vestibulum ante ipsum primis in faucibus.</p>

    <div class="content_title">SKILL SET</div>
    <div class="content_separator"></div>
    <p>Quisque id odio. Fusce a quam. Duis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus.</p>
    <p>Quisque id odio. Fusce a quam. Duis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus.</p>
    <p>Quisque id odio. Fusce a quam. Duis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus.</p>
  </div>
</div>