<div id="content_collaboration" class="content">
  <div class="collaborationContainer">
    <div class="content_title" data-bind="html: collaboration_global_title"></div>
    <div class="content_separator"></div>
    <p data-bind="html: collaboration_global_text1"></p>
      <div class="collaboration_iconsContainer">
	  	<div class="collaboration_icon icon_collaboration_model"></div>
	  	<div class="collaboration_icon icon_collaboration_hairdresser"></div>
	  	<div class="collaboration_icon icon_collaboration_photographer"></div>
	  	<div class="collaboration_icon icon_collaboration_creative"></div>
	  </div>
    <p data-bind="html: collaboration_global_text2"></p>
  </div>

</div>