<div id="content_contact" class="content">
	<div class="contactContainer">
		<div class="content_title" data-bind="html: contact_global_title"></div>
		<div class="content_separator"></div>
		<p data-bind="html: contact_global_text"></p>

		<div class="content_title" data-bind="html: contact_links_title"></div>
		<div class="content_separator"></div>

		<div class="contactsContainer">
			<div class="contact">
				<div class="contact_icon icon_phone"></div>
				<div class="contact_text">(+33) 07 71 42 78 34</div>
			</div>
			<div class="contact">
				<div class="contact_icon icon_facebook"></div>
				<div class="contact_text"><a href="https://www.facebook.com/groups/cotedazurphoto">@cotedazurphoto (tetiana kushchynska - photographer)</a></div>
			</div>
			<div class="contact">
				<div class="contact_icon icon_instagram"></div>
				<div class="contact_text"><a href="https://www.instagram.com/cotedazurphoto">@cotedazurphoto</a></div>
			</div>
			<div class="contact">
				<div class="contact_icon icon_email"></div>
				<div class="contact_text">cotedazurphoto@gmail.com</div>
			</div>
			<div class="contact">
				<div class="contact_icon icon_vk"></div>
				<div class="contact_text"><a href="https://vk.com/cotedazurphoto">@cotedazurphoto</a></div>
			</div>
		</div>

		<div class="content_title" data-bind="html: contact_mail_title"></div>
		<div class="mailContainer">
			<div class="inputs">
				<input id="js_inputName" class="input_name" data-bind="attr: { placeholder: contact_name_placeholder }" type="text" name="name"/>
				<div id="js_errorName_empty" class="error" data-bind="html: contact_mail_emptyError"></div>

				<input id="js_inputEmail" class="input_email" data-bind="attr: { placeholder: contact_email_placeholder }" type="text" name="email"/>
				<div id="js_errorEmail_empty" class="error" data-bind="html: contact_mail_emptyError"></div>
				<div id="js_errorEmail_format" class="error" data-bind="html: contact_mail_emailFormatError"></div>

				<textarea id="js_inputMessage" data-bind="attr: { placeholder: contact_message_placeholder }" name="message" rows="10" class="textarea_message"></textarea>
				<div id="js_errorMessage_empty" class="error" data-bind="html: contact_mail_emptyError"></div>
				<div id="js_successMessage_sent" class="success" data-bind="html: contact_mail_validated"></div>

				<div class="buttonSendContainer"><div class="buttonSend" data-bind="html: contact_mail_button"></div></div>
			</div>
		</div>
	</div>
</div>