<div id="content_contact" class="content">
	<div class="contactContainer">
		<div class="content_title">CONTACT ME</div>
		<div class="content_separator"></div>
		<p>Quisque id odio. Fusce a quam. Duis leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus.</p>

		<div class="content_title">MY LINKS</div>
		<div class="content_separator"></div>

		<div class="contactsContainer">
			<div class="contact">
				<div class="contact_icon icon_phone"></div>
				<div class="contact_text">(+33) 07 71 42 78 34</div>
			</div>
			<div class="contact">
				<div class="contact_icon icon_facebook"></div>
				<div class="contact_text"><a href="https://www.facebook.com/groups/cotedazurphoto">@cotedazurphoto (tetiana kushchynska - photographer)</a></div>
			</div>
			<div class="contact">
				<div class="contact_icon icon_instagram"></div>
				<div class="contact_text"><a href="https://www.instagram.com/cotedazurphoto">@cotedazurphoto</a></div>
			</div>
			<div class="contact">
				<div class="contact_icon icon_email"></div>
				<div class="contact_text">cotedazurphoto@gmail.com</div>
			</div>
			<div class="contact">
				<div class="contact_icon icon_vk"></div>
				<div class="contact_text"><a href="https://vk.com/cotedazurphoto">@cotedazurphoto</a></div>
			</div>
		</div>

		<div class="content_title">SEND ME AN EMAIL</div>
		<div class="mailContainer">
			<div class="inputs">
				<input id="js_inputName" class="input_name" placeholder="Name" type="text" name="name"/>
				<div id="js_errorName_empty" class="error">Please fill this field!</div>

				<input id="js_inputEmail" class="input_email" placeholder="Email" type="text" name="email"/>
				<div id="js_errorEmail_empty" class="error">Please fill this field!</div>
				<div id="js_errorEmail_format" class="error">Please fill a valid email!</div>

				<textarea id="js_inputMessage" placeholder="Message" name="message" rows="10" class="textarea_message"></textarea>
				<div id="js_errorMessage_empty" class="error">Please fill this field!</div>
				<div id="js_successMessage_sent" class="success">Your message has been sent!</div>

				<div class="buttonSendContainer"><div class="buttonSend">Send</div></div>
			</div>
		</div>
	</div>
</div>