<div id="content_galleries" class="content content_galleries content--active">
	<div id="gallery_weddingAndLoveStory" class="galleriesContainer">
		<div class="galleriesContent">
			<span class="galleries-title">Wedding & Love Story</span>
			<div class="horizontal straight-top"></div>
			<div class="horizontal straight-bottom"></div>
			<div class="vertical straight-left"></div>
			<div class="vertical straight-right"></div>
		</div>
		<div class="galleries-image galleries-image-weddingLoveStory"></div>
	</div>
	<div class="galleriesContainer">
		<div class="galleriesContent">
			<span class="galleries-title">Family</span>
			<div class="horizontal straight-top"></div>
			<div class="horizontal straight-bottom"></div>
			<div class="vertical straight-left"></div>
			<div class="vertical straight-right"></div>
		</div>
		<div class="galleries-image galleries-image-family"></div>
	</div>
	<div class="galleriesContainer">
		<div class="galleriesContent">
			<span class="galleries-title">Little Riviera</span>
			<div class="horizontal straight-top"></div>
			<div class="horizontal straight-bottom"></div>
			<div class="vertical straight-left"></div>
			<div class="vertical straight-right"></div>
		</div>
		<div class="galleries-image galleries-image-littleRiviera"></div>
	</div>
	<div class="galleriesContainer">
		<div class="galleriesContent">
			<span class="galleries-title">Art Project</span>
			<div class="horizontal straight-top"></div>
			<div class="horizontal straight-bottom"></div>
			<div class="vertical straight-left"></div>
			<div class="vertical straight-right"></div>
		</div>
		<div class="galleries-image galleries-image-artProject"></div>
	</div>
	<div class="galleriesContainer">
		<div class="galleriesContent">
			<span class="galleries-title">Black and White</span>
			<div class="horizontal straight-top"></div>
			<div class="horizontal straight-bottom"></div>
			<div class="vertical straight-left"></div>
			<div class="vertical straight-right"></div>
		</div>
		<div class="galleries-image galleries-image-blackAndWhite"></div>
	</div>
</div>