<div id="content_galleries" class="content content_galleries content--active">
	<!-- ko foreach: galleryCategories -->
		<div data-bind="attr: { id: 'gallery_' + name }" class="galleriesContainer">
			<div class="galleriesContent">
				<span class="galleries_title" data-bind="html: observable"></span>
				<div class="horizontal straight_top"></div>
				<div class="horizontal straight_bottom"></div>
				<div class="vertical straight_left"></div>
				<div class="vertical straight_right"></div>
			</div>
			<div class="galleries_image" data-bind="style: { backgroundImage: 'url(\'/image/galleries/' + name + '.jpg\')' }"></div>
		</div>
	<!-- /ko -->
	<!-- ko foreach: galleryCategories -->
		<div class="galleriesContainer galleriesContainer--empty"></div>
	<!-- /ko -->

</div>