<div id="content_galleries" class="content content_galleries content--active">
	<div id="gallery_weddingAndLoveStory" class="galleriesContainer">
		<div class="galleriesContent">
			<span class="galleries_title">Wedding & Love Story</span>
			<div class="horizontal straight_top"></div>
			<div class="horizontal straight_bottom"></div>
			<div class="vertical straight_left"></div>
			<div class="vertical straight_right"></div>
		</div>
		<div class="galleries_image galleries_image_weddingLoveStory"></div>
	</div>
	<div id="gallery_family" class="galleriesContainer">
		<div class="galleriesContent">
			<span class="galleries_title">Family</span>
			<div class="horizontal straight_top"></div>
			<div class="horizontal straight_bottom"></div>
			<div class="vertical straight_left"></div>
			<div class="vertical straight_right"></div>
		</div>
		<div class="galleries_image galleries_image_family"></div>
	</div>
	<div id="gallery_littleRiviera" class="galleriesContainer">
		<div class="galleriesContent">
			<span class="galleries_title">Little Riviera</span>
			<div class="horizontal straight_top"></div>
			<div class="horizontal straight_bottom"></div>
			<div class="vertical straight_left"></div>
			<div class="vertical straight_right"></div>
		</div>
		<div class="galleries_image galleries_image_littleRiviera"></div>
	</div>
	<div id="gallery_artProject"  class="galleriesContainer">
		<div class="galleriesContent">
			<span class="galleries_title">Art Project</span>
			<div class="horizontal straight_top"></div>
			<div class="horizontal straight_bottom"></div>
			<div class="vertical straight_left"></div>
			<div class="vertical straight_right"></div>
		</div>
		<div class="galleries_image galleries_image_artProject"></div>
	</div>
	<div id="gallery_blackAndWhite" class="galleriesContainer">
		<div class="galleriesContent">
			<span class="galleries_title">Black and White</span>
			<div class="horizontal straight_top"></div>
			<div class="horizontal straight_bottom"></div>
			<div class="vertical straight_left"></div>
			<div class="vertical straight_right"></div>
		</div>
		<div class="galleries_image galleries_image_blackAndWhite"></div>
	</div>
</div>