<div class="menuContainer">
	<div class="openCloseButton">
		<div class="line top"></div>
		<div class="line middle"></div>
		<div class="line bottom"></div>
	</div>
	<div class="iconMenu">
		<div class="iconMenu_logo"></div>
		<div class="iconMenu_text">Tetiana Kushchynska</div>
	</div>
	<div class="categories">
		<div id="galleries" class="category category--active"><div class="icon icon--active icon_galleries"></div>Galleries</div>
		<div id="slideshow" class="category"><div class="icon icon_slideshow"></div>Slideshow</div>
		<div id="contact" class="category"><div class="icon icon_contact"></div>Contact</div>
		<div id="collaboration" class="category"><div class="icon icon_collaboration"></div>Collaboration</div>
		<div id="aboutMe" class="category"><div class="icon icon_aboutMe"></div>About me</div>
	</div>
</div>